{% extends 'main-layout.html' %}

{% block imports %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <script src="{{ url_for('static', filename='js/ui.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid" id="app-container">
        <div class="row">

            <div class="col-md-3 border-right" id="channels">

                <div id="channels-ui">

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-channel-modal">
                        Add a channel
                    </button>
                </div>

                <div id="channels-list">
                    {% block channels %}{% endblock %}
                </div>

            </div>

            <div class="col-md-9 border-left">
                {% block messages %}{% endblock %}
            </div>

        </div>
    </div>

    <!-- Modals -->
    <div class="modal fade" id="add-channel-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Add a new channel!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-body-extended">
                    <b>Name of a new channel:</b>
                    <label>
                        <input type="text" id="add-channel-input">
                    </label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="add-channel-add-button">Add</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="add-channel-close-button">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}