{% extends 'app-layout.html' %}

{% block channels %}
    <ul class="list-group">


        {% for channel in channels %}
            <li class="list-group-item d-flex justify-content-between align-items-center" style="width: 100%">
                {{ channel.name }}
                <span class="badge badge-primary badge-pill">100</span>
            </li>
        {% else %}
            <div class="alert alert-danger" role="alert">
                No channels so far! You need to create a channel.
            </div>
        {% endfor %}
    </ul>
{% endblock %}

{% block messages %}
    Welcome {{ username }}!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, amet aut cumque distinctio dolores ea est impedit ipsa laudantium minima modi nam nemo non obcaecati officia, possimus quas velit voluptatum?
{% endblock %}