$ui-height: 10vh;

%container {
  height: 100vh;
}

#app-container {
  @extend %container;
}

#channels {
  @extend %container;
  padding: 0;
}

#channels-list {
  overflow-y: scroll;
  height: 100vh - $ui-height;
}

#channels-ui {
  height: $ui-height;
  position: relative;
  button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}